.Contact_content_form{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn10{
    width: 350px;
    height: 75px;
    font-size: 32px;
    color: white;
    background-color: #B88E2F;
    border-radius: 10px;
    margin: 0;
}


@media (max-width: 480px) {
    .btn10{
        width: 300px;
    }
    
}