section-contact .container {
    padding-top: 5em;
}


.Contact_name {
    display: flex;
    flex-direction: column;

}

.Contact_name_t1 {
    font-size: 60px;

    font-weight: 600;
}

.Contact_name_t2 {
    font-size: 32px;
    color: #9F9F9F;
    text-align: center;
    width: 1200px;
}

.Contact_content {
    display: flex;
    padding-top: 5em;
}

.Contact_content_info {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.Contact_content_info_block {
    display: flex;
    gap: 20px;
    margin: 0;
    width: 400px;
}

.info_svg {
    margin: 0;
    display: flex;
    align-items: start;
    padding-top: 15px;
    justify-content: center;
}

.info_text {
    margin: 0;
}

.info_text_t1 {
    font-size: 50px;
    font-weight: 600;
}

.info_text_t2 {
    font-size: 32px;
}


@media (max-width: 480px) {
    section-contact .container{
        padding-top: 3em;
    } 
    
    .Contact_name_t1 {
        font-size: 28px;
    }

    .Contact_name_t2 {
        font-size: 12px;
        width: 100%;
        padding: 0 1em;
    }

    .Contact_content {
        flex-direction: column;
        padding-top: 2em;
    }
    .Contact_content_info{
        padding-bottom: 2em;
    }

    .Contact_content_info_block {
        flex-direction: row;
        align-items: flex-start;
    }

    .info_svg svg {
        width: 32px;
        height: auto;
    }
    .info_text{
        width: 185px;
    }
    .info_text_t1 {
        font-size: 16px;
    }

    .info_text_t2 {
        font-size: 14px;
    }
}

