.form_select {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.name_sel {
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

@media (max-width: 480px) {
    .seltt{
        min-width: 125px;
        max-width: 300px;
        font-size: 20px;

    }
    .name_sel {
        font-size: 20px;
    }
    
}