.lega{
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}
.for{
    margin-top: 2vh;
}

@media (max-width: 480px) {
    .for{
        min-width: 125px;
        max-width: 300px;
        font-size: 20px;
    }
    .lega{
        font-size: 20px;
    }
    
}