.input {
    display: flex;
    flex-direction: column;
    gap: 50px;
    // margin: 0;
}

.input_mini {
    display: flex;
    gap: 50px;
    margin: 0;
}

form {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.zag {
    font-size: 45px;
    font-weight: 700;
    margin: 0;
}

@media (max-width:480px) {
    .input_mini {
        width: 300px;
        justify-content: center;
        gap: 20px;
    }

    .input_mini form {
        width: 140px;
    }

    .input_mini .for {
        max-width: 140px;
    }
}