sectiom-main .container {
    display: flex;
    gap: 80px;
    width: 1500px;
    justify-content: center;
    padding-top: 3em;
}

.main_text {
    margin: 0;
}

.main_choises {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.main_text_t1 {
    font-size: 40px;
    width: 300px;
}

.main_text_t2 {
    width: 120px;
    margin: 0;
    font-size: 24px;
    border-bottom: 1px solid #727272;
    color: #727272;
}

#pet_select {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    font-size: 24px;
    padding-left: 10px;
    color: white;
    background-color: #B88E2F;
}

@media (max-width: 480px) {
    sectiom-main .container {
        display: flex;
        flex-direction: column;
        /* Вертикальное расположение */
        gap: 30px;
        /* Уменьшенный отступ */
        width: 300px;
        /* Фиксированная ширина */
        padding: 1em 0;
        /* Уменьшенный padding */
    }

    .main_text_t1 {
        font-size: 24px;
        /* Уменьшенный шрифт */
        width: 100%;
        /* Занимает всю ширину */
        text-align: center;
        /* Центрирование */
    }

    .main_text_t2 {
        width: 100%;

        font-size: 18px;
        text-align: center;
        border-bottom: 1px solid #727272;
        color: #727272;
        padding-bottom: 5px;
    }

    #pet_select {
        width: 100%;
        /* На всю ширину контейнера */
        height: 50px;
        /* Уменьшенная высота */
        font-size: 18px;
        /* Меньший шрифт */
    }

    .main_choises {
        gap: 15px;
        /* Уменьшенный отступ */
    }

}