<div class="input">
    <div class="zag">Billing details</div>
    <div class="input_mini">
        @@include('../components/_input.html', {
        "legaa": "First Name",
        "type": "text",
        "wid": "250",
        "heig": "85",
        "placeh": ""
        })
        @@include('../components/_input.html', {
        "legaa": "Last Name",
        "type": "text",
        "wid": "250",
        "heig": "85",
        "placeh": ""

        })
    </div>
    @@include('../components/_input.html', {
    "legaa": "Company Name (Optional)",
    "type": "text",
    "wid": "550",
    "heig": "85",
    "placeh": ""
    })
    @@include('../components/_input_select.html', {
    "name_sel": "Country / Region",
    "placeh": "Sri Lanka",
    "wid": "550",
    "heig": "85",
    "var_one": "Russia",
    "var_two": "Nizhniy Novgorod",
    "var_three": "Russia",
    "var_four": "Nizhniy Novgorod",
    })
    @@include('../components/_input.html', {
    "legaa": "Street address",
    "type": "text",
    "wid": "550",
    "heig": "85",
    "placeh": ""
    })
    @@include('../components/_input.html', {
    "legaa": "Town / City",
    "type": "text",
    "wid": "550",
    "heig": "85",
    "placeh": ""
    })
    @@include('../components/_input_select.html', {
    "name_sel": "Province",
    "placeh": "Western Province",
    "wid": "550",
    "heig": "85",
    "var_one": "Semenovsky district",
    "var_two": "Kerzhenets",
    "var_three": "Belasovka",
    "var_four": "Drofeikha",
    })
    @@include('../components/_input.html', {
    "legaa": "ZIP code",
    "type": "text",
    "wid": "550",
    "heig": "85",
    "placeh": ""
    })
    @@include('../components/_input.html', {
    "legaa": "Phone",
    "type": "phone",
    "wid": "550",
    "heig": "85",
    "placeh": ""
    })
    @@include('../components/_input.html', {
    "legaa": "Email address",
    "type": "email",
    "wid": "550",
    "heig": "85",
    "placeh": ""
    })
    @@include('../components/_input.html', {
    "legaa": "",
    "type": "text",
    "wid": "550",
    "heig": "85",
    "placeh": "Additional information"
    })

</div>

