<section-funiro>
    <div class="funiro">
        <div class="container">
            <div class="funiro_t1">Share your setup with</div>
            <div class="funiro_t2">#FuniroFurniture</div>
            <div class="funiro_foto">
                <picture>
                    <source srcset="./assets/images/funiro-l300.webp" media="(max-width: 480px)">
                    <img src="./assets/images/funiro.webp" alt="" class="funiro_img">
                </picture>
            </div>
        </div>
    </div>

</section-funiro>