<div class="asgaard_foto">
    <div class="asgaard_foto_mini">
        <div class="mini_foto"><img src="./assets/images/mini_foto1.webp" alt=""></div>
        <div class="mini_foto"><img src="./assets/images/mini_foto2.webp" alt=""></div>
        <div class="mini_foto"><img src="./assets/images/mini_foto3.webp" alt=""></div>
        <div class="mini_foto"><img src="./assets/images/mini_foto4.webp" alt=""></div>
    </div>
    <div class="asgaard_foto_main"><img src="./assets/images/main_foto.webp" class="foto1" alt=""></div>
</div>