<section-blog>
    <div class="container">
        <div class="blog_content">
            <div class="blog_cards">
                @@include('../components/_card_block.html', {
                "img": "/Gulp_ermak/assets/images/blog1",
                "name": "Going all-in with millennial design"
                })
                @@include('../components/_card_block.html', {
                "img": "/Gulp_ermak/assets/images/blog2",
                "name": "Exploring new ways of decorating"
                })
                @@include('../components/_card_block.html', {
                "img": "/Gulp_ermak/assets/images/blog3",
                "name": "Handmade pieces that took time to make"
                })
            </div>
            <div class="blog_info">
                <form class="form2">
                    <input type="text" id='text'>
                    <svg class="svg" width="21" height="21" viewBox="0 0 21 21" fill="none"
                        xmlns="http://www.w3.org/2000/svg" style="margin-left: -30px;">
                        <path
                            d="M20 20L15.514 15.506M18 9.5C18 11.7543 17.1045 13.9163 15.5104 15.5104C13.9163 17.1045 11.7543 18 9.5 18C7.24566 18 5.08365 17.1045 3.48959 15.5104C1.89553 13.9163 1 11.7543 1 9.5C1 7.24566 1.89553 5.08365 3.48959 3.48959C5.08365 1.89553 7.24566 1 9.5 1C11.7543 1 13.9163 1.89553 15.5104 3.48959C17.1045 5.08365 18 7.24566 18 9.5V9.5Z"
                            stroke="black" stroke-width="2" stroke-linecap="round" />
                    </svg>

                </form>
                <div class="categories">
                    <div class="categories_t1">Categories</div>
                    <div class="categories_t2">
                        <div class="categories_left">Crafts</div>
                        <div class="categories_right">2</div>
                    </div>
                    <div class="categories_t2">
                        <div class="categories_left">Design</div>
                        <div class="categories_right">8</div>
                    </div>
                    <div class="categories_t2">
                        <div class="categories_left">Handmade</div>
                        <div class="categories_right">7</div>
                    </div>
                    <div class="categories_t2">
                        <div class="categories_left">Interior</div>
                        <div class="categories_right">1</div>
                    </div>
                    <div class="categories_t2">
                        <div class="categories_left">Wood</div>
                        <div class="categories_right">6</div>
                    </div>
                </div>
                <div class="posts">
                    <div class="categories_t1">Recent Posts</div>

                    @@include('../components/_post_blog.html', {
                    "img": "/Gulp_ermak/assets/images/post1",
                    "t": "Going all-in with millennial design",
                    "tm": "03 Aug 2022"

                    })

                    @@include('../components/_post_blog.html', {
                    "img": "/Gulp_ermak/assets/images/post2",
                    "t": "Exploring new ways of decorating",
                    "tm": "03 Aug 2022"

                    })

                    @@include('../components/_post_blog.html', {
                    "img": "/Gulp_ermak/assets/images/post3",
                    "t": "Handmade pieces that took time to make",
                    "tm": "03 Aug 2022"

                    })

                    @@include('../components/_post_blog.html', {
                    "img": "/Gulp_ermak/assets/images/post4",
                    "t": "Modern home in Milan",
                    "tm": "03 Aug 2022"

                    })

                    @@include('../components/_post_blog.html', {
                    "img": "/Gulp_ermak/assets/images/post5",
                    "t": "Colorful office redesign",
                    "tm": "03 Aug 2022"

                    })

                </div>
            </div>
        </div>
        <div class="blog_buttons">
            <div class="shop_button"><button class="btn5">1</button></div>
            <div class="shop_button"><button class="btn6">2</button></div>
            <div class="shop_button"><button class="btn6">3</button></div>
            <div class="shop_button"><button class="btn6">Next</button></div>
        </div>
    </div>
</section-blog>