<section>
    <div class="container">
        <div class="card_shop">
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/syltherine",
            "display": "flex",
            "color": "#E97171",
            "index": "-30%",
            "title": "Syltherine",
            "text": "Stylish cafe chair",
            "summa": "Rp 2.500.000",
            "seil": "Rp 3.500.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/Leviosa",
            "display": "none",
            "color": "#E97171",
            "index": "-30%",
            "dis": "none",
            "title": "Leviosa",
            "text": "Stylish cafe chair",
            "summa": "Rp 2.500.000",
            "seil": "Rp 3.500.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/Lolito",
            "display": "flex",
            "color": "#E97171",
            "index": "-50%",
            "title": "Lolito",
            "text": "Luxury big sofa",
            "summa": "Rp 7.000.000",
            "seil": "Rp 14.000.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/Respira",
            "display": "flex",
            "color": "#2EC1AC",
            "index": "New",
            "title": "Respira",
            "text": "Outdoor bar table and stool",
            "dis": "none",
            "summa": "Rp 500.000",
            "seil": "Rp 3.500.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/syltherine",
            "display": "flex",
            "color": "#E97171",
            "index": "-30%",
            "title": "Syltherine",
            "text": "Stylish cafe chair",
            "summa": "Rp 2.500.000",
            "seil": "Rp 3.500.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/Leviosa",
            "display": "none",
            "color": "#E97171",
            "index": "-30%",
            "dis": "none",
            "title": "Leviosa",
            "text": "Stylish cafe chair",
            "summa": "Rp 2.500.000",
            "seil": "Rp 3.500.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/Lolito",
            "display": "flex",
            "color": "#E97171",
            "index": "-50%",
            "title": "Lolito",
            "text": "Luxury big sofa",
            "summa": "Rp 7.000.000",
            "seil": "Rp 14.000.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/Respira",
            "display": "flex",
            "color": "#2EC1AC",
            "index": "New",
            "title": "Respira",
            "text": "Outdoor bar table and stool",
            "dis": "none",
            "summa": "Rp 500.000",
            "seil": "Rp 3.500.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/syltherine",
            "display": "flex",
            "color": "#E97171",
            "index": "-30%",
            "title": "Syltherine",
            "text": "Stylish cafe chair",
            "summa": "Rp 2.500.000",
            "seil": "Rp 3.500.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/Leviosa",
            "display": "none",
            "color": "#E97171",
            "index": "-30%",
            "dis": "none",
            "title": "Leviosa",
            "text": "Stylish cafe chair",
            "summa": "Rp 2.500.000",
            "seil": "Rp 3.500.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/Lolito",
            "display": "flex",
            "color": "#E97171",
            "index": "-50%",
            "title": "Lolito",
            "text": "Luxury big sofa",
            "summa": "Rp 7.000.000",
            "seil": "Rp 14.000.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/Respira",
            "display": "flex",
            "color": "#2EC1AC",
            "index": "New",
            "title": "Respira",
            "text": "Outdoor bar table and stool",
            "dis": "none",
            "summa": "Rp 500.000",
            "seil": "Rp 3.500.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/syltherine",
            "display": "flex",
            "color": "#E97171",
            "index": "-30%",
            "title": "Syltherine",
            "text": "Stylish cafe chair",
            "summa": "Rp 2.500.000",
            "seil": "Rp 3.500.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/Leviosa",
            "display": "none",
            "color": "#E97171",
            "index": "-30%",
            "dis": "none",
            "title": "Leviosa",
            "text": "Stylish cafe chair",
            "summa": "Rp 2.500.000",
            "seil": "Rp 3.500.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/Lolito",
            "display": "flex",
            "color": "#E97171",
            "index": "-50%",
            "title": "Lolito",
            "text": "Luxury big sofa",
            "summa": "Rp 7.000.000",
            "seil": "Rp 14.000.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_ermak/assets/images/Respira",
            "display": "flex",
            "color": "#2EC1AC",
            "index": "New",
            "title": "Respira",
            "text": "Outdoor bar table and stool",
            "dis": "none",
            "summa": "Rp 500.000",
            "seil": "Rp 3.500.000"
            })
        </div>
        <div class="card_shop_buttons">
            <div class="shop_button"><button class="btn5">1</button></div>
            <div class="shop_button"><button class="btn6">2</button></div>
            <div class="shop_button"><button class="btn6">3</button></div>
            <div class="shop_button"><button class="btn6">Next</button></div>
        </div>
    </div>
</section>