<div class="Contact_content_form">
    @@include('../components/_input.html', {
    "legaa": "Your name",
    "type": "text",
    "wid": "650",
    "heig": "85",
    "placeh": "Abc"
    })
    @@include('../components/_input.html', {
    "legaa": "Email address",
    "type": "text",
    "wid": "650",
    "heig": "85",
    "placeh": "Abc@def.com"
    })
    @@include('../components/_input.html', {
    "legaa": "Subject",
    "type": "text",
    "wid": "650",
    "heig": "85",
    "placeh": "This is an optional"
    })
    @@include('../components/_input.html', {
    "legaa": "Message",
    "type": "text",
    "wid": "650",
    "heig": "155",
    "placeh": "Hi! i’d like to ask about"
    })
    <button class="btn10">Submit</button>
</div>