<footer>
    <div class="container">
        <div class="footer_napoln">
            <div class="footer_gap">
                <div class="footer_zag">Funiro.</div>
                <div class="footer_gray">400 University Drive Suite 200 Coral Gables,<br>FL 33134 USA</div>
            </div>
            <div class="footer_gap">
                <div class="footer_gray">Links</div>
                <a href="../dist/index.html" class="text_navig">Home</a>
                <a href="" class="text_navig">Shop</a>
                <a href="" class="text_navig">About</a>
                <a href="" class="text_navig">Contact</a>
            </div>
            <div class="footer_gap">
                <div class="footer_gray">Help</div>
                <div class="text_navig">Payment Options</div>
                <div class="text_navig">Returns</div>
                <div class="text_navig">Privacy Policies</div>
            </div>
            <div class="footer_gap">
                <div class="footer_gray">Newsletter</div>
                <form class="form">
                    <input type="email" id="email" placeholder="Enter Your Email Address">
                    <button class="btn4" type="submit">SUBSCRIBE</button>
                </form>
            </div>
        </div>
        <div class="footer_vers">2023 furino. All rights reverved</div>
    </div>
</footer>