<section-header>
    @@include('../components/_header.html', )
    <div class="backgraund">
        <div class="container">
            <div class="backgraund_otdel">@@otdel</div>
            <div class="backgraund_nav">
                <div class="backgraund_nav_t1">@@ot</div>
                <div class="backgraund_nav_svg"><svg width="10" height="13" viewBox="0 0 8 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 12L5 7L0 2L1 0L8 7L1 14L0 12Z" fill="black" />
                    </svg>
                </div>
                <div class="backgraund_nav_t2">@@do</div>
            </div>
        </div>

    </div>

</section-header>