<section-check>
    <div class="container">
        @@include('../components/_input_check.html', )

        <div class="pokupka">
            <div class="main_summa">
                <div class="main_summa_flex_left">
                    <div class="main_summa_t1">Product</div>
                    <div class="main_summa_t2">Asgaard sofa X 1</div>
                    <div class="main_summa_t3">Subtotal</div>
                    <div class="main_summa_t3">Total</div>
                </div>
                <div class="main_summa_flex_right">
                    <div class="main_summa_t1">Subtotal</div>
                    <div class="main_summa_t3">Rs. 250,000.00</div>
                    <div class="main_summa_t3">Rs. 250,000.00</div>
                    <div class="main_summa_t4">Rs. 250,000.00</div>
                </div>
            </div>
            <div class="main_info">
                <div class="main_info_cur">
                    <svg class="svg" width="14" height="14" viewBox="0 0 14 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="7" cy="7" r="7" fill="black" />
                    </svg>
                    Direct Bank Transfer

                </div>
                <div class="main_summa_t2">Make your payment directly into our bank account. Please use your Order ID as
                    the payment reference. Your order will not be shipped until the funds have cleared in our account.
                </div>
                <div class="main_info_gr">
                    <svg class="svg" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="7" cy="7" r="6.5" stroke="#9F9F9F" />
                    </svg>
                    Direct Bank Transfer
                </div>
                <div class="main_info_gr">
                    <svg class="svg" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="7" cy="7" r="6.5" stroke="#9F9F9F" />
                    </svg>
                    Direct Bank Transfer
                </div>
                <div class="main_summa_t3">
                    Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <b>privacy policy.</b> 
                </div>
                <div class="main_info_button"><button class="btn9">Place order</button></div>

            </div>
        </div>

    </div>
</section-check>