<section-rooms>
    <div class="container">
        <div class="block_text">
            <div class="t1">Browse The Range</div>
            <div class="t2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="block_rooms">
            <div class="room">
                <div class="foto_room">
                    <picture>
                        <img src="./assets/images/room_dining.webp" alt="" class="image_room">
                    </picture>
                </div>
                <div class="room_t1">Dining</div>
            </div>
            <div class="room">
                <div class="foto_room">
                    <picture>
                        <img src="./assets/images/room_living.webp" alt="" class="image_room">
                    </picture>
                </div>
                <div class="room_t1">Living</div>
            </div>
            <div class="room">
                <div class="foto_room">
                    <picture>
                        <img src="./assets/images/room_bedroom.webp" alt="" class="image_room">
                    </picture>
                </div>
                <div class="room_t1">Bedroom</div>
            </div>
        </div>
    </div>

</section-rooms>