<section-beautiful>
    <div class="beautiful">
        <div class="container">
            <div class="beatiful_text">
                <div class="beatiful_text_t1">50+ Beautiful rooms inspiration</div>
                <div class="beatiful_text_t2">Our designer already made a lot of beautiful prototipe of rooms that
                    inspire
                    you</div>
                <div class="beatiful_text_button"><button class="btn3">Explore More</button></div>
            </div>
            <div class="beatiful_foto">
                <div class="foto_main">
                    <div class="foto_main_opisanie">
                        <div>01 <svg class="svg1" width="27" height="2" viewBox="0 0 27 2" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1H27" stroke="#616161" />
                            </svg> Bed Room</div>
                        <div class="foto_main_opisanie_text">Inner Peace</div>
                    </div>
                    <div class="foto_main_strelka"><svg width="24" height="18" viewBox="0 0 20 14" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 7H1M19 7L13 1M19 7L13 13" stroke="white" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
                <div class="prokrytka">
                    <div class="foto_prokrytka">
                        <div class="svg_next"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.00006 5L16.0001 12L9.00006 19" stroke="#B88E2F" stroke-width="1.8"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="menu_prokrytka">
                        <div><svg width="27" height="27" viewBox="0 0 27 27" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle opacity="0.7" cx="13.5" cy="13.5" r="13" stroke="#B88E2F" />
                                <circle cx="13.5" cy="13.5" r="5" fill="#B88E2F" stroke="#B88E2F" />
                            </svg>
                        </div>
                        <div><svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="5.5" cy="5.5" r="5.5" fill="#D8D8D8" />
                            </svg>
                        </div>
                        <div><svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="5.5" cy="5.5" r="5.5" fill="#D8D8D8" />
                            </svg>
                        </div>
                        <div><svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="5.5" cy="5.5" r="5.5" fill="#D8D8D8" />
                            </svg>
                        </div>

                    </div>
                </div>

                <div class="foto_next"></div>
            </div>
        </div>
    </div>


</section-beautiful>