<sectiom-main>
    <div class="container">
        <div class="main_text">
            <div class="main_text_t1">Go to Product page for more
                Products</div>
            <div class="main_text_t2">View More</div>
        </div>
        @@include('../components/_protuct_card.html', {
        "img": "./assets/images/product1",
        "name": "Asgaard Sofa",
        "summa": "Rs. 250,000.00",
        "reit": "4.7",
        "review": "204"
        })
        @@include('../components/_protuct_card.html', {
        "img": "./assets/images/product1",
        "name": "Outdoor Sofa Set",
        "summa": "Rs. 224,000.00",
        "reit": "4.2",
        "review": "145"
        })
        <div class="main_choises">
            <div class="main_text_t1"><a href="./index_2.html">Add A Product</a></div>
            <select name="pets" id="pet_select">
                <option value=""><a href="./index_2.html">Choose a Product</a></option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>
        </div>
    </div>
</sectiom-main>